<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Requisiciones</h1>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <section class="content">
    <div class="container-fluid">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Requisiciones</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <form
                    [formGroup]="forma"
                    (ngSubmit)="guardarCambios()"
                    novalidate="novalidate"
                  >
                    <div class="form-group">
                      <label for="exampleInputEmail1">Nombre</label>
                      <input
                        type="text"
                        class="form-control"
                        id="title"
                        formControlName="title"
                      />
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Descripcion</label>
                      <input
                        type="text"
                        class="form-control"
                        id="description"
                        formControlName="description"
                      />
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Presupuesto</label>
                      <input
                        type="email"
                        class="form-control"
                        id="budget"
                        formControlName="budget"
                      />
                    </div>
                  </form>
                  <div class="btn__box">
                    <button
                      type="submit"
                      class="btn  btn-success"
                      (click)="guardarCambios()"
                    >
                      <i class="fas fa-plus"></i>
                      Agregar
                    </button>
                    <button
                      type="button"
                      class="btn  btn-danger"
                      [routerLink]="['/requisiciones']"
                    >
                      <i class="fas fa-window-close"></i>
                      Cancelar
                    </button>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>
<app-footer></app-footer>
