<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->

  <a href="index3.html" class="brand-link">
    <img
      src="assets/dist/img/suplai-blanco.png"
      alt="suplai-blanco2"
      height="100px"
      width="200px"
    />
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <h5 class="nav d-block"> <i class="nav-icon fas fa-user-circle"> </i>  {{ getName() }}</h5>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a
            [routerLink]="['/home']"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/requisiciones']"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fas fa-file-invoice"></i>
            <p>
              Requisiciones
            </p>
          </a>
        </li>
        <li class="nav-item" *ngIf="auth.currentUser.type == 'admin'">
          <a
            [routerLink]="['/usuarios']"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fas fa-users"></i>
            <p>
              Usuarios
            </p>
          </a>
        </li>
        <li class="nav-item" *ngIf="auth.currentUser.type !== 'BUYER'">
          <a             
          [routerLink]="['/reportes']"
          routerLinkActive="active"
          class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Reportes  <span class="right badge badge-danger">Próximamente!</span>

            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="cerrarSesion()">
            <i class="nav-icon fas fa-power-off"></i>
            <p>
              Cerrar Sesión
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
