<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Agregar Usuarios</h1>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <section class="content">
    <div class="container-fluid">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Usuarios</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <form
                    [formGroup]="forma"
                    (ngSubmit)="guardarCambios()"
                    novalidate="novalidate"
                  >
                    <div class="form-group">
                      <label for="exampleInputEmail1">Nombre</label>
                      <input
                        type="text"
                        class="form-control"
                        id="nombre"
                        formControlName="nombre"
                      />
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Apellidos</label>
                      <input
                        type="text"
                        class="form-control"
                        id="apellidos"
                        formControlName="apellidos"
                      />
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Correo</label>
                      <input
                        type="email"
                        class="form-control"
                        id="email"
                        formControlName="correo"
                      />
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Contraseña</label>
                      <input
                        type="text"
                        class="form-control"
                        id="contrasena"
                        formControlName="contrasena"
                      />
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1"
                        >Tipo Usuario</label
                      >
                      <select
                        class="form-control"
                        id="exampleFormControlSelect1"
                        name="tipoUsuario"
                        formControlName="tipoUsuario"
                        (change)="seleccionarUsuario($event.target.value)"
                      >
                        <option value="BUYER">BUYER</option>
                        <option value="BOSS">BOSS</option>
                        <option value="FINANCER">FINANCER</option>
                        <option value="ADMIN">ADMIN</option>
                      </select>
                    </div>
                    <div
                      class="form-group"
                      *ngIf="this.selectUsuario != 'ADMIN' || this.selectUsuario != 'FINANCER'"
                    >
                      <label for="exampleFormControlSelect1">Jefe</label>
                      <select
                        class="form-control"
                        id="exampleFormControlSelect1"
                        formControlName="jefeUsuario"
                      >
                        <option
                          value="{{item._id}}"
                          *ngFor="let item of this.selectInfo"
                          >{{ item.name + " " + item.last_name }}</option
                        >
                      </select>
                    </div>
                  </form>
                  <div class="btn__box">
                    <button
                      type="submit"
                      class="btn  btn-success"
                      (click)="guardarCambios()"
                    >
                      <i class="fas fa-plus"></i>
                      Agregar
                    </button>
                    <button type="button" class="btn  btn-danger">
                      <i class="fas fa-window-close"></i>
                      Cancelar
                    </button>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>
<app-footer></app-footer>
